<section id="aboutme">
  <p class="avatar"><a href="http://ngs.io/about"><img src="http://www.gravatar.com/avatar/e10997c59685f5c742a63b3e3049d4fb.png?size=120" width="60" height="60" alt="Avatar" /></a></p>
  <h1><a href="http://ngs.io/about">Atsushi Nagase</a></h1>
  <a href='https://alpha.app.net/ngs' class='adn-button' target='_blank' data-type='follow' data-width='277' data-height='27' data-user-id='@ngs' data-show-username='1' rel='me'>Follow me on App.net</a><script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
</section>
