@import 'syntax'
@import 'font-awesome'

.home-link
  padding: 10px 0 0 0
  margin: 0

.read-more
  padding: 2em 0 0 0
  a
    margin: 0 auto
    display: block
    width: 20%
    letter-spacing: 0.2em
    @media screen and (max-width: 720px)
      padding: 1em 0
      width: 100%

aside
  h2
    font-size: 1.2em
    text-indent: 0.7em
  .nav li a time
    display: block
    font-size: 0.8em
    color: #999

article
  h2, h3, h4
    margin: 1.5em 0 0.5em 0
  .disqus
    padding: 5em 0

footer .credit
  text-align: center
  font-size: 0.8em
  padding: 5em 0 1em 0
  color: #ccc
  line-height: 2em
  letter-spacing: 0.1em
  p
    margin: 0
  a
    color: #aaa

h2 time, .meta
  font-size: 12pt
  display: block
  color: #999
  padding: 0.3em
  font-weight: normal

footer.meta
  border-top: 1px solid #eee
  margin-top: 5em
  .tags
    max-width: 80%
    margin: 0 0 40px -20px

section
  padding: 1em 0 2em 0
  border-bottom: 1px solid #eee
  margin-bottom: 3em

section.entry, article.entry
  img
    max-width: 100%
    &[alt='iphone capture']
      width: 396px

#error-notfound
  margin-top: 1em

.social-buttons
  width: 100%
  clear: both

.gist-data .highlight
  background-color: transparent

#tag-filter-form
  width: 90%
  margin: 1em auto
  .glyphicon
    color: #ccc

#archives
  margin: 0
  padding: 0
  list-style: none
ol.entries
  list-style: none
  padding: 0 0 0 1em
  li
    padding: 0 0 0.5em 0
  h2
    font-size: 1em
    a
      color: #333
  time
    color: #999
    font-weight: bold
    margin-right: 1em