---
title: "EverDesktop をリリースしました。"
date: 2012-11-15 20:00
public: true
tags: mac, evernote, everdesktop
ogp:
  og:
    image:
      '': http://ja.ngs.io/images/2012-11-15-everdesktop-1-0/screen1.png
      type: image/png
      width: 1280
      height: 434
alternate: true
---

[![screen1][screen1]][EverDesktop]

[EverDesktop] をリリースしました。

ディスクトップ上にあるファイルを Evernote にクリップするための、小さな Mac アプリケーションです。

READMORE


![screen2]

EverDesktop はステータスバーから Mac 上の散らかったファイルを整理します。

EverDesktop は [Mac AppStore](http://s.liap.us/everdesktop) からダウンロードしてご利用いただけます。

<iframe src="//player.vimeo.com/video/52523627" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/52523627">EverDesktop</a> from <a href="http://vimeo.com/atsnngs">Atsushi Nagase</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

[screen1]: 2012-11-15-everdesktop-1-0/screen1.png "Screen1"
[screen2]: 2012-11-15-everdesktop-1-0/screen2.png "Screen2"
[evernote]: http://evernote.com/
[EverDesktop]: http://everdesktop.com/ja/
