#aboutme {
  height:95px;
  margin:2em 0;
  .avatar {
    float:left;
    width:75px;
    img { border:none; }
  }
  h1 {
    float:left;
    width:auto;
    margin:1em 0;
    border:0;
    text-shadow:none;
    @include box-shadow(none);
  }
}
