---
title: 長瀬 敦史 について
description: ソフトウェアエンジニア 長瀬 敦史 について
ogp:
  og:
    type: profile
  profile:
    first_name: 敦史
    last_name:  長瀬
    username:   ngs
    gender:     male

---

.row
  .col-md-12
    %h1 長瀬 敦史
    %p Atsushi Nagase
.row
  .col-md-3
    %p
      %img.img-thumbnail{ src: 'http://www.gravatar.com/avatar/e10997c59685f5c742a63b3e3049d4fb.png?size=500' }
  .col-md-9
    :markdown
      東京を拠点に活動している、ソフトウェアエンジニアです。

      ## 略歴

      * 1983年10月3日 [大阪府島本町](http://ja.wikipedia.org/wiki/%E5%B3%B6%E6%9C%AC%E7%94%BA) 生まれ。
      * 2002年3月 上京 (家は横浜市港北区)。都内専門学校でグラフィックデザインを学び始めました。
      * 2003年6月から、恵比寿の [Lotus Image Laboratory Inc.](http://lotus-lab.com/) というグラッフィックデザイン事務所で主に紙媒体のデザインの仕事をしていました。並行して、Flash や JavaScript を用いた RIA 開発をフリーランスで請けていました。
      * 2006年9月 フリーランス業務に一本化し、モバイル (iOS, Android, Windows phone, S!ウィジェット etc.) やディスクトップ (Mac OS X, Windows)、サーバーサイドアプリケーションなどの受託業務を行っていました。
      * 2009年3月 [LittleApps Inc.](http://littleapps.jp/) を設立し、フリーランス時代同様の業務を続けていました。
      * 2009年12月 [「天気予報API活用アプリコンテスト」で TenkiMeter がソフトバンクモバイル賞 受賞](http://www.value-press.com/pressrelease/49464)。
      * 2011年10月 tattva Inc. に参画。[i.ntere.st という Pinterest 風サイト](http://jp.techcrunch.com/2012/02/27/jp20120227interest-renewal/)を開発する。2012年4月に退社。
      * 2012年3月 [AppSocially](https://appsocial.ly/) というモバイル向けのネイティブアプリケーション用 SDK の開発を開始。
      * 2012年11月 「[Mashup Awards 8](http://ma8.mashupaward.jp/)」で [EverDesktop](http://everdesktop.com/) が Evernote Corporation 賞 受賞。
      * 2013年4月 AppSocially Inc. 米国デラウェア州で法人設立。間もなく[5月に退社](/2013/12/30/shokan2013/)。
      * 2013年6月 [KAIZEN platform Inc.](http://kaizenplatform.in/) に参画し、現在に至ります。

      ## ソフトウェアなど

      * [GitHub](https://github.com/ngs)
      * [Google Code](http://code.google.com/u/atsnngs/)
      * [CPAN](http://search.cpan.org/~ngs)
      * [RubyGems](https://rubygems.org/profiles/ngs)
      * [npm](https://npmjs.org/~ngs)
      * [Qiita](http://qiita.com/ngs)

      ## プロフィール

      * [AngelList](http://angel.co/ngs)
      * [CrunchBase](http://www.crunchbase.com/person/atsushi-nagase)
      * [LinkedIn](http://www.linkedin.com/in/ngsdev)
      * [hat.io](https://hat.io/users/ngs)

      ## ソーシャル

      * [Twitter](https://twitter.com/ngs)
      * [Facebook](https://www.facebook.com/atsnngs)
      * [Google+](http://gplus.to/ngs)
      * [Quora](http://www.quora.com/Atsushi-Nagase)
      * [Strava](http://strava.com/athletes/ngs)
      * [TripIt](https://www.tripit.com/people/ngs)
      * [Flickr](http://www.flickr.com/photos/atsnngs)
      * [Pinterest](http://pinterest.com/ngs)

    %h3 PGP 公開鍵
    %dl.dl-horizontal
      %dt ID
      %dd
        %code 22691D00
      %dt Fingerprint
      %dd
        %code D99D BBD2 AB06 B1BF 8D44  2CF7 4721 171B 2269 1D00

    %h3 連絡先
    %dl.dl-horizontal
      %dt Email
      %dd= link_to 'a@ngs.io', 'mailto:a@ngs.io'
      %dt Skype
      %dd= link_to 'atsn_ngs', 'skype:atsn_ngs?call'
      %dt Phone
      %dd +81-90-9808-7800
