---
title: 長瀬 敦史 について
description: ソフトウェアエンジニア 長瀬 敦史 について
ogp:
  og:
    type: profile
  profile:
    first_name: 敦史
    last_name:  長瀬
    username:   ngs
    gender:     male

---

.row
  .col-md-12
    %h1 長瀬 敦史
    %p Atsushi Nagase
.row
  .col-md-3
    %p
      %img.img-thumbnail{ src: 'http://www.gravatar.com/avatar/e10997c59685f5c742a63b3e3049d4fb.png?size=500' }
  .col-md-9
    :markdown
      東京を拠点に活動している、ソフトウェアエンジニアです。

      ### 略歴

      * 1983年10月03日、[大阪府島本町](http://ja.wikipedia.org/wiki/%E5%B3%B6%E6%9C%AC%E7%94%BA)で生まれました。
      * 2001年に上京し、グラフィックデザインを学びながら、2003年から、都内のデザイン事務所で仕事をしていました。並行して、Flash や JavaScript を用いた RIA 開発をフリーランスで請けていました。
      * 2006年にフリーランス業務に一本化し、モバイル (iOS, Android, Windows phone, S!ウィジェット etc.) やディスクトップ (Mac OS X, Windows)、サーバーサイドアプリケーションなどの受託業務を行っていました。
      * 2009年に [LittleApps Inc.](http://littleapps.jp/) を設立し、フリーランス時代同様の業務を続けていました。
      * 2011年に tattva Inc. 参画。2012年に退社。
      * 2012年に AppSocially Inc. を設立、[2013年に退社](http://ja.ngs.io/2013/12/30/shokan2013/)。
      * 2013年に [KAIZEN platform Inc.](http://kaizenplatform.in/) に参画し、現在に至ります。

      ### ソフトウェアなど

      * [GitHub](https://github.com/ngs)
      * [Google Code](http://code.google.com/u/atsnngs/)
      * [CPAN](http://search.cpan.org/~ngs)
      * [RubyGems](https://rubygems.org/profiles/ngs)
      * [npm](https://npmjs.org/~ngs)

      ### プロフィール

      * [AngelList](http://angel.co/ngs)
      * [CrunchBase](http://www.crunchbase.com/person/atsushi-nagase)
      * [LinkedIn](http://www.linkedin.com/in/ngsdev)
      * [hat.io](https://hat.io/users/ngs)

      ### ソーシャル

      * [Twitter](https://twitter.com/ngs)
      * [Facebook](https://www.facebook.com/atsnngs)
      * [Google+](http://gplus.to/ngs)
      * [Quora](http://www.quora.com/Atsushi-Nagase)
      * [Strava](http://strava.com/athletes/ngs)
      * [TripIt](https://www.tripit.com/people/ngs)
      * [Flickr](http://www.flickr.com/photos/atsnngs)
      * [Pinterest](http://pinterest.com/ngs)

    %h3 PGP 公開鍵
    %dl.dl-horizontal
      %dt ID
      %dd
        %code 22691D00
      %dt Fingerprint
      %dd
        %code D99D BBD2 AB06 B1BF 8D44  2CF7 4721 171B 2269 1D00

    %h3 連絡先
    %dl.dl-horizontal
      %dt Email
      %dd= link_to 'a@ngs.io', 'mailto:a@ngs.io'
      %dt Skype
      %dd= link_to 'atsn_ngs', 'skype:atsn_ngs?call'
