---
pageable: true
per_page: 12
---
h1
  = t 'tag_title.html', tag: tagname
= partial "partials/entries", locals: locals

- content_for :title do
  = t 'tag_title.text', tag: tagname

- content_for :description do
  = t 'tag_title.text', tag: tagname
